@font-face {
    font-family: sf;
    src: url(../fons/Libre_Baskerville/LibreBaskerville-Bold.ttf);
    font-weight: 700;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    top: 5018px;
    left: 0px;
}
.texto-encima{
    position: absolute;
    top: 92px;
    font-size: 3.19rem;
    left: 221px;
    width: 736px;
    color: #99F7E2;
}
.centrado{
    position: absolute;
    top: 49%;
    left: 42%;
    transform: translate(-50%, -50%);
    font-size: 1.30rem;
    width: 737px;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    position: absolute;
    top: 95px;
    font-size: 2.3rem !important;
    left: 248px;
    width: 224px;
}